@import 'tailwindcss';
@import 'tw-animate-css';

/* @theme { */
/*   --color-background: var(--background); */
/*   --color-foreground: var(--foreground); */
/*   --color-card: var(--card); */
/*   --color-card-foreground: var(--card-foreground); */
/*   --color-popover: var(--popover); */
/*   --color-popover-foreground: var(--popover-foreground); */
/*   --color-primary: var(--primary); */
/*   --color-primary-foreground: var(--primary-foreground); */
/*   --color-secondary: var(--secondary); */
/*   --color-secondary-foreground: var(--secondary-foreground); */
/*   --color-muted: var(--muted); */
/*   --color-muted-foreground: var(--muted-foreground); */
/*   --color-accent: var(--accent); */
/*   --color-accent-foreground: var(--accent-foreground); */
/*   --color-destructive: var(--destructive); */
/*   --color-destructive-foreground: var(--destructive-foreground); */
/*   --color-border: var(--border); */
/*   --color-input: var(--input); */
/*   --color-ring: var(--ring); */
/*   --color-chart-1: var(--chart-1); */
/*   --color-chart-2: var(--chart-2); */
/*   --color-chart-3: var(--chart-3); */
/*   --color-chart-4: var(--chart-4); */
/*   --color-chart-5: var(--chart-5); */
/*   --radius-sm: calc(var(--radius) - 4px); */
/*   --radius-md: calc(var(--radius) - 2px); */
/*   --radius-lg: var(--radius); */
/*   --radius-xl: calc(var(--radius) + 4px); */
/*   --color-sidebar: var(--sidebar); */
/*   --color-sidebar-foreground: var(--sidebar-foreground); */
/*   --color-sidebar-primary: var(--sidebar-primary); */
/*   --color-sidebar-primary-foreground: var(--sidebar-primary-foreground); */
/*   --color-sidebar-accent: var(--sidebar-accent); */
/*   --color-sidebar-accent-foreground: var(--sidebar-accent-foreground); */
/*   --color-sidebar-border: var(--sidebar-border); */
/*   --color-sidebar-ring: var(--sidebar-ring); */
/* } */

:root {
  --background: oklch(0.9585 0.0054 274.965);
  --foreground: oklch(0.3484 0.0282 276.5351);
  --card: oklch(0.9322 0.0095 279.6828);
  --card-foreground: oklch(0.3484 0.0282 276.5351);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.3484 0.0282 276.5351);
  --primary: oklch(0.5008 0.0761 274.161);
  --primary-foreground: oklch(0.9827 0.0026 286.3511);
  --secondary: oklch(0.8774 0.0096 279.6701);
  --secondary-foreground: oklch(0.3484 0.0282 276.5351);
  --muted: oklch(0.9013 0.0069 277.1544);
  --muted-foreground: oklch(0.5312 0.0301 275.9527);
  --accent: oklch(0.8493 0.0156 273.8185);
  --accent-foreground: oklch(0.5008 0.0761 274.161);
  --destructive: oklch(0.6779 0.0998 19.9938);
  --destructive-foreground: oklch(0.9851 0 0);
  --border: oklch(0.8367 0.0113 274.8668);
  --input: oklch(0.8367 0.0113 274.8668);
  --ring: oklch(0.5008 0.0761 274.161);
  --chart-1: oklch(0.8088 0.0991 251.7533);
  --chart-2: oklch(0.6207 0.1894 259.9358);
  --chart-3: oklch(0.5495 0.2202 263.0917);
  --chart-4: oklch(0.4893 0.2202 264.0405);
  --chart-5: oklch(0.421 0.1792 266.0094);
  --sidebar: oklch(0.9851 0 0);
  --sidebar-foreground: oklch(0.1448 0 0);
  --sidebar-primary: oklch(0.2046 0 0);
  --sidebar-primary-foreground: oklch(0.9851 0 0);
  --sidebar-accent: oklch(0.9702 0 0);
  --sidebar-accent-foreground: oklch(0.2046 0 0);
  --sidebar-border: oklch(0.9219 0 0);
  --sidebar-ring: oklch(0.709 0 0);
  --font-sans:
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  --radius: 0.625rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: #000000;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2117 0.02 275.7613);
  --foreground: oklch(0.8367 0.0113 274.8668);
  --card: oklch(0.2338 0.0214 276.5874);
  --card-foreground: oklch(0.8367 0.0113 274.8668);
  --popover: oklch(0.2117 0.02 275.7613);
  --popover-foreground: oklch(0.8367 0.0113 274.8668);
  --primary: oklch(0.6363 0.0653 276.2064);
  --primary-foreground: oklch(0.2024 0.0183 274.8983);
  --secondary: oklch(0.2842 0.0222 277.4839);
  --secondary-foreground: oklch(0.9192 0.0055 274.9612);
  --muted: oklch(0.2842 0.0222 277.4839);
  --muted-foreground: oklch(0.6198 0.029 276.1117);
  --accent: oklch(0.3484 0.0282 276.5351);
  --accent-foreground: oklch(0.959 0.004 286.3243);
  --destructive: oklch(0.5523 0.1335 22.4471);
  --destructive-foreground: oklch(0.9843 0.0011 197.1389);
  --border: oklch(0.3038 0.0239 274.736);
  --input: oklch(0.3038 0.0239 274.736);
  --ring: oklch(0.6363 0.0653 276.2064);
  --chart-1: oklch(0.8088 0.0991 251.7533);
  --chart-2: oklch(0.6207 0.1894 259.9358);
  --chart-3: oklch(0.5495 0.2202 263.0917);
  --chart-4: oklch(0.4893 0.2202 264.0405);
  --chart-5: oklch(0.421 0.1792 266.0094);
  --sidebar: oklch(0.2809 0 0);
  --sidebar-foreground: oklch(0.9851 0 0);
  --sidebar-primary: oklch(0.6498 0.0772 284.0474);
  --sidebar-primary-foreground: oklch(0.9851 0 0);
  --sidebar-accent: oklch(0.2686 0 0);
  --sidebar-accent-foreground: oklch(0.9851 0 0);
  --sidebar-border: oklch(0.2768 0 0);
  --sidebar-ring: oklch(0.4386 0 0);
  --font-sans:
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  --radius: 0.625rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: #000000;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-family:
      -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  code {
    font-family:
      source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  }
}

@layer utilities {
  .content-auto {
    content-visibility: auto;
    contain-intrinsic-size: 0 115px;
  }
}
